@charset "UTF-8";
/* Includes */

@import url('reset.css');
/* General Styles */

html {
    overflow-x: hidden;
}

body {
    font-family: 'Hind Guntur', sans-serif;
}

a {
    transition: 0.5s;
}

a:hover, a:active, a:focus {
    outline: none;
    text-decoration: none;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

#container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Nav Bar */

.navbar {
    height: 25vh;
    width: 70vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#top {
    background: rgb(172, 0, 0);
    background: linear-gradient(0deg, rgba(172, 0, 0, 1) 7%, rgba(204, 0, 0, 1) 7%, rgba(255, 0, 0, 1) 100%);
    padding: 1% 0;
    width: 100vw;
}

.buttonIn {
    position: relative;
    width: 100%;
}

.form-control {
    width: 100%;
}

.form-control:focus {
    border-color: rgb(172, 0, 0);
    box-shadow: 0 0 0 0.2rem rgba(172, 0, 0, 1);
}

input#searchbar {
    border-radius: 50px;
    border: none;
    padding: 21px 0 21px 15px;
    width: 50vw;
}

.button {
    background: rgb(172, 0, 0);
    position: absolute;
    top: 0;
    right: 0px;
    z-index: 2;
    border-radius: 70px;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 1.2em;
    padding: 10px 40px 10px 40px;
    transform: translateX(2px);
}

.button:focus {
    outline: none;
}

/* Main */

h1 {
    text-align: center;
    margin: 2%;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*FOOTER*/

footer {
    background: #d3d3d3;
    color: black;
    width: 100vw;
    height: 10vh;
    margin-top: auto;
}

footer a {
    color: #fff;
    font-size: 14px;
    transition-duration: 0.2s;
}

footer a:hover {
    color: #FA944B;
    text-decoration: none;
}

footer h3 {
    margin: 1% 0 2% 0;
    font-size: 2em;
}

.copy {
    font-size: 1em;
    padding: 10px;
    border-top: 1px solid #FFFFFF;
    display: flex;
    justify-content: center;
    background-color: #d3d3d3;
}

.text-center {
    margin-left: 1.5%;
}

/* Resultado pesquisa celular */

.autocomplete {
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
}

.divHome {
    background-color: #FFFFFF;
    color: #39393B;
    position: relative;
    margin: 0 auto;
    margin-top: 2%;
    text-decoration: none;
    border: 1px solid #CFCCCC;
    height: 300px;
}

.divHome a {
    text-decoration: none;
    color: #39393B;
}

#destaques {
    background-color: #FFFFFF;
    color: #39393B;
    width: 75%;
}

.destaques_uni {
    margin: 0 auto;
    background-color: #FFFFFF;
    color: #39393B;
    width: 60vw;
    max-height: 15%;
}

.imgNew {
    width: 200px;
    height: 200px;
    transition: all .5s ease 0s;
}

.imgNew:hover {
    transform: scale(1.1)
}

.divNome, .divPreco, .imgNew, .link {
    margin: 2%;
}

.divNome {
    position: absolute;
    bottom: 30px;
    left: 35px;
}

.divPreco {
    position: absolute;
    top: 15px;
    right: 35px;
}

.divLogo {
    max-height: fit-content;
    position: absolute;
    bottom: 5px;
    right: 35px;
    width: 120px;
}

.divLogo img {
    position: absolute;
    bottom: 50px;
    right: 1px;
    width: 120px;
}

.img-responsive {
    position: absolute;
    bottom: 5px;
    right: 1px;
    width: 120px;
}

.link {
    cursor: pointer;
}

a.link {
    width: 400px;
}